.env
/app/etc/
/lib
/phpserver
/pub
/setup
/var
/vendor
/generated
/bin
/dev
/app/config_sandbox
/app/etc/config.php
/app/.htaccess
/app/autoload.php
/app/bootstrap.php
/app/code/Abcdin/Endpointcomunas/
/app/etc/NonComposerComponentRegistration.php
/app/etc/db_schema.xml
/app/etc/di.xml
/app/etc/env.php
/app/etc/registration_globlist.php
/app/etc/vendor_path.php
!/composer.json
/composer.lock
auth.json
/.grunt
/Gruntfile.js
/package.json
/grunt-config.json

/var/*
!/var/.htaccess
/vendor/
/generated/
.DS_Store